body {

	background-color: rgb(237, 247, 246);
	color:rgb(71, 95, 139);
	font-size: 1.2rem;
	padding: 3rem;
	margin-block-start: 1rem;
	line-height: 1.8rem;

}


h1 {

	font-family:'lora,georgia';
	color:rgb(23, 150, 193);
	font-weight: 800;
	font-size: 4rem;
	margin-bottom: 2rem;

}


h2, h3 {

	font-family:'montserrat';
	color:rgb(23, 150, 193);
	font-weight: 600rem;
	font-size: 2rem;
	margin-block-end: 1.5rem;
	margin-block-start: 3rem;

}


h3 {

font-size: 1.5rem;

}


a {

	color: rgb(31, 131, 136);
	text-decoration: underline;

}


p {
	font-family: 'montserrat';
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	margin-inline-start: 1rem;
	margin-inline-end: 6rem;

}


/* Figure out which font would contrast the type of the book best!*/
.response {

	font-family: 'architects daughter';
	color: rgb(4, 78, 112);
	font-weight: 1.8rem;

}
/* Option 2 */
.response {

	font-family: 'architects daughter';
	color: rgb(83, 147, 182);
	font-weight: 1.8rem;
	margin-inline-start: 2rem;
	margin-inline-end: 4rem;

}

.response2 {

	font-family: 'kalam';
	color: rgb(74, 135, 168);
	/* Font weight makes no difference?? */
	font-weight: 1.5rem;
	margin-inline-start: 1rem;
	margin-inline-end: 5rem;

}

.prologue {

	font-family: 'montserrat';
	font-weight: 350;
	color: rgb(35, 75, 121);
	font-size: 1rem;

}


ul {

	list-style-type: disc;
	font-family: 'montserrat';
	margin-inline-start: 2rem;

}


/* Strong not showing up */
strong {

	font-style: bold;
	color:rgb(61, 28, 182);

}


/* Check demo on how to appl style to everything but cite and sup */
.reference {

	color: rgb(128, 134, 141);
	font-style: bold;
	font-weight: 700;

 }


 em, cite {

	font-style: italic;
	font-weight: 400;
	font-size: 1.2rem;

}


sup {

	font-size: 0.8rem;
	vertical-align: super;
	font-weight: 400;

}
