body {

	background-color: rgb(0, 0, 0);
	color:rgb(255, 255, 255);
	font-size: 1.3rem;
	padding: 3rem;
	margin-block-start: 1rem;
	line-height: 1.4rem;

}


h1 {

	font-family:'lora,georgia';
	color:rgb(23, 150, 193);
	font-weight: 800;
	font-size: 2.5rem;
	margin-bottom: 1.5rem;

}


h2, h3 {

	font-family:'lora';
	color:rgb(23, 150, 193);
	font-weight: 600rem;
	font-size: 1.8rem;
	margin-block-end: 1.5rem;
	margin-block-start: 3rem;

}


a {

	color: rgb(161, 201, 203);
	text-decoration: underline;

}


p {
	font-family: 'montserrat';
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	margin-inline-start: 1rem;
	margin-inline-end: 80rem;

}


/* Figure out which font would contrast the type of the book best!*/
.response {

	font-family: 'architects daughter';
	color: rgb(141, 197, 228);
	font-weight: 1.8rem;

}
/* Option 2 */
.response {

	font-family: 'kalam';
	color: rgb(141, 197, 228);
	font-weight: 1.8rem;
	margin-inline-start: 2rem;
	margin-inline-end: 50rem;

}

.prologue {

	font-family: 'montserrat';
	font-weight: 300;
	color: rgb(169, 169, 169);

}


ul {

	list-style-type: disc;
	font-family: 'montserrat';

}


/* Strong not showing up */
strong {

	font-style: bold;
	color:rgb(87, 28, 182);

}


/* Check demo on how to appl style to everything but cite and sup */
.reference {

	color: rgb(181, 208, 216);
	font-style: bold;
	font-weight: 700;

 }


 em, cite {

	font-style: italic;
	font-weight: 400;

}


sup {

	font-size: 0.8rem;
	vertical-align: super;
	font-weight: 400;

}
