
/* Check if theres an order to be followed before moving forward!!  */
/* Look up how to make the text centre-aligned */

:root {

--backgroundcolour:rgb(0, 0, 0);
--primarycolour:rgb(106, 167, 205);
--secondarycolour:rgb(23, 92, 220);
--textcolour:rgb(211, 215, 218);
--accentcolour: rgb(58, 46, 193);

--margin-block-start: 1.5rem;
--margin-block-end: 3rem;
--margin-inline-start: 2rem;
--margin-inline-end: 10rem;

--heading-font-family:'oswald';
--base-font-family:'raleway';
--response-font-family:'kalam';

--base-font-size: 1rem;
--base-font-weight:100;
--base-spacing:1rem;

--line-height: 1.5rem;
--base-padding: 1rem;

}


body {

background-color: var(--backgroundcolour);
font-family: var(--base-font-family);
margin-inline-start: calc(2*var(--margin-inline-start));
margin-inline-end:var(--margin-inline-end) ;
line-height: calc(1.5*var(--line-height));

}


h1 {

	font-family:'oswald';
	font-size: calc(8*var(--base-font-size));
	font-weight: calc(8*var(--base-font-weight));
	margin-inline-start: calc(2* var(--base-spacing));
	margin-inline-end: var(--margin-inline-end);
	margin-block-start: calc(2* var(--base-spacing));
	/* margin-block-end: var(--margin-block-end); */
	margin-block-end: calc(0.2*var(--margin-block-end));
	color:var(--primarycolour);
	line-height: calc(6*var(--line-height));
	text-transform: uppercase;

}


h1:hover {

	color: var(--accentcolour);

}


h2, h3 {

	text-transform: uppercase;
	margin-inline-start: calc(2* var(--base-spacing));
	margin-block-start: calc(6* var(--base-spacing));
	/* margin-block-end: calc(4* var(--base-spacing)); */
	color:var(--primarycolour);
	font-family: var(--heading-font-family);
	font-weight: calc(5*var(--base-font-weight));
	line-height: calc(4*var(--line-height));

}


h2 {

	font-size: calc(5*var(--base-font-size));
	margin-block-end: calc(4* var(--base-spacing));

}


h3 {

	font-size: calc(4*var(--base-font-size));
	margin-block-end: calc(2* var(--base-spacing));

}


p {

	font-family: var(--base-font-family);
	font-size: calc(1.5*var(--base-font-size));
	font-weight: calc(4*var(--base-font-weight));
	color: var(--textcolour);
	margin-inline-start: calc(2* var(--base-spacing));
	margin-block-start: calc(2.5* var(--base-spacing));
	line-height: calc(1.5*var(--line-height));

}

.response p {

	font-family: var(--response-font-family);
	color: var(--primarycolour);
	margin-inline-start: calc(8* var(--base-spacing));
	line-height: calc(1.5*var(--line-height));
	opacity: 20%;

}


.response p:hover {

	color: var(--primarycolour);
	opacity: 100%;

}


a {

	color: var(--primarycolour);
	text-decoration: underline;

}


a:hover {

	 color: var(--accentcolour);

	}


blockquote p {

	font-family: var(--base-font-family);
	font-weight: calc(2*var(--base-font-weight));
	color: var(--textcolour);
	font-style: italic;

	}


.prologue p{

	font-family: var(--base-font-family);
	font-weight: calc(3*var(--base-font-weight));
	color:grey;
	font-size: calc(1.2*var(--base-font-size));
	line-height: calc(1.1*var(--line-height));

}


ul {

	font-family: var(--base-font-family);
	font-size: calc(1.5*var(--base-font-size));
	margin-inline-start: var(--margin-inline-start);
	color: var(--textcolour);
	list-style-type: disc;
	list-style-position: inside;

}


ol {

	list-style-type: none;

}


strong {

	font-family: var(--base-font-family);
	color: var(--secondarycolour);
	font-weight:calc(5*var(--base-font-weight));
	font-style: bold;
	text-transform: uppercase;

}


.reference {

	font-family: var(--base-font-family);
	font-weight: calc(5*var(--base-font-weight));
	font-size: calc(1.5*var(--base-font-size));
	margin-inline-start: calc(1.2*var(--margin-inline-start));
	font-style: bold;
	color: rgb(152, 190, 202);

 }


 em, cite {

	font-family: var(--base-font-family);
	font-weight: calc(3*var(--base-font-weight));
	font-size: calc(1.5*var(--base-font-size));
	color: var(--secondarycolour);
	font-style: italic;

}

/* How do you show everything but? Example: I want all my cites to be a specific colour except the first one. */

sup {

	font-weight: calc(3*var(--base-font-weight));
	font-size: var(--base-font-size);
	color: var(--textcolour);
	vertical-align: super;

}

span {

	color: var(--textcolour);

}
