:root {

/* colours */
--background:rgb(0, 0, 0);
--primarycolour:rgb(68, 156, 211);
--secondarycolour:rgb(133, 195, 222);
--textcolour:rgb(198, 206, 211);
--accentcolour: rgb(58, 46, 193);
/* type */
--heading-typeface:'oswald';
--text-typeface:'raleway';
--response-typeface:'kalam';
--base-text-size: 1rem;
--body-content-size: calc(1.4*var(--base-text-size));
--reference-size: calc(1.2*var(var(--base-text-size)));
--metadata-size: calc(1.5*var(--base-text-size));
--base-text-weight:100;
--base-text-height: calc(2.5*var(--base-text-size));
/* Spacing */
--base-spacing:1rem;
--paragraph-spacing:var(--base-spacing);
--section-spacing: calc(2*var(--paragraph-spacing));
--page-start: var(--section-spacing);
--content-indent: var(--section-spacing);
--content-end: var(--content-indent);
/* Width */
--reading-width: calc(90*var(--base-spacing));
--heading-width: calc(35*var(--base-spacing));
--heading-line-length: var(--reading-width);
/* inset */
--inset: calc(3*var(--base-padding));

}

body {

	background-color: var(--background);
	font-family: var(--text-typeface);
	max-inline-size: var(--reading-width);
	margin-inline-start: var(--content-indent);
	margin-inline-end: var(--content-end);
	line-height:var(--base-text-height);

}

h1 {

	color:var(--primarycolour);
	font-family:var(--heading-typeface);
	font-size: calc(7*var(--base-text-size));
	font-weight: calc(8*var(--base-text-weight));
	line-height: calc(3*var(--base-text-height));
	margin-inline-start: var(--content-indent);
	max-inline-size: var(--heading-width);
	margin-block-start:var(--page-start);
	margin-block-end: var(--section-spacing);
	text-transform: uppercase;
	/* height: 100vh; */
	/* margin-inline: auto; - DOES THIS WORK? iS IT OKAY TO USE? */

}

h1::after {

	content: "";
	display: block;
	width: calc(var(--heading-line-length) - var(--content-end));
	/* max-width: calc(var(--heading-line-length) - var(--content-end)); */
	border-top: 0.5rem solid var(--primarycolour);
	margin-inline-end: var(--heading-width);
	margin-block-start: var(--section-spacing);
	/* vertical-align: middle; */

}

h2, h3 {

	color:var(--primarycolour);
	font-family: var(--heading-typeface);
	font-weight: calc(5*var(--base-text-weight));
	line-height: calc(3*var(--base-text-height));
	margin-inline-start: var(--content-indent);
	max-inline-size: var(--heading-width);
	margin-block-start: calc(2* var(--section-spacing));
	text-transform: uppercase;
	/* margin-block-end: calc(4* var(--base-spacing)); */
	/* text-align: center; */

}

h2 {

	font-size: calc(4*var(--base-text-size));
	margin-block-end: var(--section-spacing);

}

h3 {

	font-size: calc(3*var(--base-text-size));
	margin-block-end: var(--section-spacing);

}

h2::after {

	content: "";
	display: block;
	width: calc(var(--heading-line-length) - var(--content-end));
	/* max-width: var(--content-end); */
	border-top: 0.4rem solid var(--primarycolour);
	margin-block-start: var(--section-spacing);
	/* vertical-align: middle; */

}

h3::after {

	content: "";
	display: block;
	width: calc(var(--heading-line-length) - var(--content-end));
	/* max-width: var(--content-end); */
	border-top: 0.3rem solid var(--primarycolour);
	margin-block-start: var(--section-spacing);
	/* vertical-align: middle; */

}

section p {

	font-family: var(--text-typeface);
	/* font-size: var(--metadata-size); */
	font-size: var(--body-content-size);
	font-weight: calc(4*var(--base-text-weight));
	color: var(--textcolour);
	margin-inline-start: calc(20*var(--content-indent));
	margin-inline-end:var(--content-end);
	margin-block-start: var(--paragraph-spacing);
	margin-block-end: var(--paragraph-spacing);
	/* text-wrap: balance; */

}

.response p {

	font-family: var(--response-typeface);
	font-size: var(--body-content-size);
	color: var(--primarycolour);
	margin-inline-start: calc(1* var(--content-indent));
	margin-inline-end: var(--content-end);
	margin-block-start: var(--paragraph-spacing);
	opacity: 20%;
	/* text-wrap: balance; */

}

.response p:hover {

	color: var(--primarycolour);
	opacity: 100%;

}

a {

	color: var(--primarycolour);
	/* margin-inline-start: var(--content-indent); */
	margin-block-end: var(--section-spacing);
	margin-block-start: var(--paragraph-spacing);
	text-decoration: underline;

}

a:hover {

	 color: var(--accentcolour);

}

a.author {

	color: var(--textcolour);
	font-family: var(--heading-typeface);
	font-size: var(--metadata-size);
	margin-inline-start: var(--content-indent);
	margin-block-end: var(--paragraph-spacing);
	text-transform: uppercase;

}

a.author:hover {

	 color: var(--accentcolour);

}

time {

	font-family: var(--heading-typeface);
	font-size: var(--metadata-size);
	color: var(--textcolour)

}

a.article {

	margin-inline-start: var(--content-indent);

}

blockquote p {

	font-family: var(--text-typeface);
	font-weight: calc(2*var(--base-text-weight));
	color: var(--textcolour);
	font-style: italic;

}

.prologue p{

	font-family: var(--text-typeface);
	font-weight: calc(3*var(--base-text-weight));
	color:grey;
	font-size: calc(1.2*var(--base-text-size));
	line-height: calc(var(--base-text-height)/1.5);

}

ul {

	font-family: var(--text-typeface);
	font-size: var(--body-content-size);
	margin-inline-start: calc(20*var(--content-indent));
	margin-inline-end: var(--content-end);
	color: var(--textcolour);
	list-style-type: disc;
	/* text-wrap: balance; */
	list-style-position: inside;

}

ol {

	list-style-type: none;
	font-family: var(--text-typeface);
	font-size: var(--body-content-size);
	color: var(--textcolour);

}

strong {

	font-family: var(--text-typeface);
	color: var(--secondarycolour);
	font-weight:calc(5*var(--base-text-weight));
	font-style: bold;
	text-transform: uppercase;

}

.reference {

	font-family: var(--text-typeface);
	font-weight: calc(5*var(--base-text-weight));
	font-size: var(--body-content-size);
	margin-inline-start:var(--content-indent);
	font-style: bold;

}

 em, cite {

	font-family: var(--text-typeface);
	font-weight: calc(3*var(--base-text-weight));
	font-size: var(--body-content-size);
	color: var(--secondarycolour);
	font-style: italic;

}

/* cite:not(.reference cite) {

	margin-inline-start: var(--content-indent);

} */

.title {

	margin-inline-start: var(--content-indent);

}


sup {

	font-weight: calc(3*var(--base-text-weight));
	font-size: var(--base-text-size);
	color: var(--textcolour);
	vertical-align: super;

}

span {

	/* color: var(--textcolour);
	font-weight: calc(2*var(--base-text-weight)); */
	font-size: var(--reference-size);

}

span .author {

	color: var(--textcolour);
	font-weight: calc(6*var(--base-text-weight));
	font-size: var(--reference-size);

}

q {

	font-style: italic;

}

.response q{

	font-family: var(--text-typeface);
	font-size: var(--body-content-size);
	font-weight: calc(4*var(--base-text-weight));
	color: var(--textcolour);
	margin-inline-start: var(--content-indent);
	margin-inline-end: var(--content-end);
	margin-block-start: calc(2*var(--section-spacing));
	margin-block-end: var(--section-spacing);
	padding-inline-start: calc(5.5*var(--section-spacing));
	padding-block-start: var(--paragraph-spacing);
	padding-block-end: var(--paragraph-spacing);
	border-end-end-radius: 2rem;
	border-top-left-radius: 2rem;
	display: block;
	background-color: var(--accentcolour);
	position: sticky;
	top: 4rem;

}
































